<div class="wrapper">
  <div class="card-container">
    <div class="mix-container">
    </div>
    <div class="worlds-container">
      <div class="world-card">
        <h1>hello</h1>
      </div>
    </div>
  </div>
  <div class="image-container">
  </div>
</div>
