<div class="main-container">
  <div class="wrapper">
    <div class="card-container">
      <div class="mix-container">
        <div class="mix-cards">
          <h1>My Mixes</h1>
          <div class="mix-card">
            <h1>hello</h1>
          </div>
          <div class="mix-card">
            <h1>hello</h1>
          </div>
        </div>
      </div>
      <div class="worlds-container">
        <div class="world-card">
          <h1>Cosy Room</h1>
        </div>
        <div class="world-card">
          <h1>hello</h1>
        </div>
        <div class="world-card">
          <h1>hello</h1>
        </div>
      </div>
    </div>
    <div class="image-container">
      <div class="mix-overlay">
        <h1>hello</h1>
      </div>
    </div>
  </div>
</div>
