<div class="play-container" data-controller="play" style="position: relative;">
  <h1>PXLSOUNDS</h1>
  <div data-play-target="rain"
      style="position: absolute; width: 754px; height: 156px; background-color: red; left: 322px; top: 12px"
      data-action="click->play#rain"></div>
  <div data-play-target="guy"
       style="position: absolute; width: 263px; height: 285px; background-color: blue; left: 78px; top: 503px"
       data-action="click->play#guy"></div>
</div>
