<div class="show-container">
  <img src=<%= asset_path(@world.image) %> alt="" class="src">
      <%= render "shared/navbar" %>
  <div class="world-content" >
      <h1><%= @world.name%></h1>
      <p><%= @world.description%></p>
  </div>
</div>
