<div class="show-container">
  <img src=<%= asset_path(@world.image) %> alt="" class="src">
      <%= render "shared/navbar" %>
  <div class="world-content" >
      <%= @world.name%>
      <br>
      <%= @world.description%>
  </div>
</div>
