<div class="show-container">

  <%= cl_image_tag @world.image.key, class: "src" %>
      <%= render "shared/navbar" %>
  <div class="world-content" >
      <h1><%= @world.name%></h1>
      <p><%= @world.description%></p>
  </div>
</div>
