<div class="navbar">
  <p>PXLSOUNDS</p>
  <% if user_signed_in? %>
    <li class="navbar-link"><%= link_to "Logout", destroy_user_session_path, class: "links", data: {turbo_method: :delete} %></li>
  <% else %>
    <li class="navbar-link"><%= link_to "Login", new_user_session_path, class: "links" %></li>
  <% end %>
</div>
