<%# raise %>
<!-- <img style="width: 100vw; heigth: 100vh;" src="<%= cl_image_tag @world.image.key %>" alt=""> -->

<div style="height: 100vh; background-image: url('<%= cl_image_path @world.image.key %>'); backgroud-repeat: no-repeat; background-size: 100% 100%;">
</div>
