<%# raise %>
<!-- <img style="width: 100vw; heigth: 100vh;" src="<%= cl_image_tag @world.image.key %>" alt=""> -->

<%= cl_image_tag @world.image.key, class: "src" %>
<div class="main-container" data-controller="homepage-bgm" data-homepage-bgm-bgsm-value="<%= cl_video_path(@world.bgm.key, resource_type: "video")%>">
  <%= render "shared/navbar" %>
  <div class="description-container">
    <div class=description>
      <h1>Welcome!</h1>
      <p style="color: #DF2935; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">A place where you</p>
      <p style="color: #FDCA40; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">can create the </p>
      <p style="color: #3772FF; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">environment you want!</p>
    </div>
  </div>
  <div class="icon-back">
    <i class="fa-solid fa-volume-xmark text-danger" data-homepage-bgm-target="speaker" data-action="click->homepage-bgm#pauseResume"></i>
  </div>
</div>
