.big-save {
  position: absolute;
  display: flex;
  left: 20px;
  top: 20px;

  .save-button {
    height: 38.67px;
    margin-right: 5px;
  }
}

.my-input {
  display: flex;
  transform: scaleX(0);
  opacity: 0;
  transition: opacity .25s, transform .25s;
  transform-origin: 0 0;
}

.my-input.show {
  transform: scaleX(1);
  opacity: 1;
}

.my-input {
  .input {
    display: none;
  }
}

// .save-button-gone {
//   display: none;
// }

.bgm-button {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.hidden {
  display: none;
}


.show-button {
  background-color: none !important;
  border: 4px solid white;
  border-radius: 10px;
}

.form-button {
  color: white;
}

.form-button:hover {
  opacity: 50%;
}

.fa-pen-to-square {
  background-color: none;
}
