.main-container {
  margin-left: 20px !important;
  margin-right: 20px !important;
  height: 89vh;
}

.play-container {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100%;
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .mix-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      justify-content: flex-end;
      align-items: center;

      h3 {
        margin-top: 20px;
      }

      .title {
        font-size: 30px;
      }

      .mix-cards {
        vertical-align: bottom;
        width: 100%;

        .mix-card {
          border: 2px solid yellow;
          margin: 20px;
          margin-right: 40px;
          height: 100px;

          h1 {
            font-size: 20px;
          }
        }
      }
    }

    .worlds-container {

      .world-card {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5);
        height: 125px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        margin-right: 20px;
        border: 4px solid #080708;
        border-radius: 10px;
      }
    }
  }
  .image-container {
    background-image: url('Castle.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 4px solid #080708;
    border-radius: 10px;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5);

    .mix-overlay {
      display: flex;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
      height: 115px;
      border-radius: 0px 0px 6px 6px;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

      .mix-image {
        width: 25%;
        height: 100%;
      }

      .mix-content {
        padding-top: 20px;
      }
    }
  }

}

.world-content {
  color: white;
  margin: auto;
  height: 200px;
  width: 800px;
  padding-top: 50px;
  text-align: center;

  h1 {
    font-size: 60px;
  }

  p {
    text-align: justify;
    margin-top: 50px;
  }
}

.show-container {
  .src {
    position: absolute;
    height: 100vh;
    width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
  }
}
