.main-container {
  margin-left: 20px !important;
  margin-right: 20px !important;
  border: 2px solid red !important;
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: 2px solid blue;

  .card-container {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;

    .mix-container {
      display: flex;
      flex-direction: column;
      height: 347px;
      width: 100%;
      text-align: center;
      justify-content: flex-end;

      .title {
        font-size: 30px;
      }

      .mix-cards {
        border: 2px solid blue;
        border: 2px solid blue;
        vertical-align: bottom;
        .mix-card {
          height: 80px;
          border: 2px solid yellow;
          margin: 20px;
        }
      }
    }

    .worlds-container {
      height: 512px;
      border: 2px solid blue;

      .world-card {
        height: 151px;
        border: 2px solid yellow;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }
  }
  .image-container {
    // background-image: url('CyberCity.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 855px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .mix-overlay {
      height: 150px;
      border: 2px solid yellow;
    }
  }

}
