.form-style {
  position: absolute;
  top: 300px;
  left: 40%;
  text-align: center;

}

.input-box {
  display: none;
}

.form-box-volume {
  width: 10ch;
  transform: rotate(-90deg);
}

.simple-form {
  width: 25%;
}

.sound-form {
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: none;

  .form-control {
    justify-content: center;
    margin-left: 15px;
    padding: 0;
    border: none;
    background-color: transparent !important;
    color: white;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);

  }

  .is-valid {
    background-image: none;
  }

  button {
    background-color: transparent;
    border: none;
    color: #38E54D;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
    font-size: 35px;
  }
}

.sound-form:hover {
  box-shadow: inset 1px 1px 15px gold;
}
