// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "div_areas";
@import "responsivness";
@import "signup";
@import "border";
@import "button";
@import "logo";
@import "login";
@import "icon";


body {
  background-color: #1E1E1E !important;
  color: white !important;
  font-family: 'Press Start 2P';
}

h1, h2, h3 {
  font-family: 'Press Start 2P';
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
