.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  p {
    font-size: 30px;
    margin: 0px;
  }
}

.navbar-link {
  list-style-type: none;
}

.links {
  text-decoration: none;
}
