.navbar {
  display: flex;
  border: solid red;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;

  p {
    font-size: 30px;
    margin: 0px;
  }
}

.navbar-link {
  list-style-type: none;
}

.links {
  text-decoration: none;
}
